$btn-shadow: 0 0 0 4px;

.btn {
    display: inline-block;
    font-weight: weight(regular);
    color: $bg-darker;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: $border-1 transparent;
    padding: 0.35rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: $border-radius;
    transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.btn:focus, .btn.focus{
    outline: 1px;
    box-shadow: $btn-shadow $bg-primary;
}

.btn:disabled, .btn.disabled{
    opacity: 0.5;
}

a.btn.disabled, fieldset:disabled, .btn:disabled{
    pointer-events: none;
}

.btn-primary{
    @include primary-fill;
}
.btn-primary:focus, .btn-primary.focus{
    background-color: $bg-primary-dark;
    color: text-dynamic($bg-primary-dark);
    border: $border-1 $bg-primary-dark;
    box-shadow: $btn-shadow $bg-primary-focus;
}

.btn-secondary{
    @include secondary-fill;
}
.btn-secondary:focus, .btn-secondary.focus{
    background-color: $bg-secondary-dark;
    color: text-dynamic($bg-secondary-dark);
    border: $border-1 $bg-secondary-dark;
    box-shadow: $btn-shadow $bg-secondary-focus;
}

.btn-success{
    @include success-fill;
}
.btn-success:focus, .btn-success.focus{
    background-color: $bg-success-dark;
    color: text-dynamic($bg-success-dark);
    border: $border-1 $bg-success-dark;
    box-shadow: $btn-shadow $bg-success-focus;
}

.btn-info{
    @include info-fill;
}
.btn-info:focus, .btn-info.focus{
    background-color: $bg-info-dark;
    color: text-dynamic($bg-info-dark);
    border: $border-1 $bg-info-dark;
    box-shadow: $btn-shadow $bg-info-focus;
}

.btn-warn{
    @include warn-fill;
}
.btn-warn:focus, .btn-warn.focus{
    background-color: $bg-warn-dark;
    color: text-dynamic($bg-warn-dark);
    border: $border-1 $bg-warn-dark;
    box-shadow: $btn-shadow $bg-warn-focus;
}

.btn-danger{
    @include danger-fill;
}
.btn-danger:focus, .btn-danger.focus{
    background-color: $bg-danger-dark;
    color: text-dynamic($bg-danger-dark);
    border: $border-1 $bg-danger-dark;
    box-shadow: $btn-shadow $bg-danger-focus;
}

.btn-dark{
    @include dark-fill;
}
.btn-dark:focus, .btn-dark.focus{
    background-color: $bg-darker;
    color: text-dynamic($bg-darker);
    border: $border-1 $bg-darker;
    box-shadow: $btn-shadow $bg-dark-focus;
}

.btn-light{
    @include light-fill;
}
.btn-light:focus, .btn-light.focus{
    background-color: $bg-light-less;
    color: text-dynamic($bg-light-less);
    border: $border-1 $bg-light-less;
    box-shadow: $btn-shadow $bg-light-focus;
}

.btn-primary-outline{
    @include primary-outline;
    &:focus{
        outline: none;
        box-shadow: none; 
    }
}

.btn-secondary-outline{
    @include secondary-outline;
    &:focus{
        outline: none;
        box-shadow: none; 
    }
}

.btn-success-outline{
    @include success-outline;
    &:focus{
        outline: none;
        box-shadow: none; 
    }
}

.btn-info-outline{
    @include info-outline;
    &:focus{
        outline: none;
        box-shadow: none; 
    }
}

.btn-warn-outline{
    @include warn-outline;
    &:focus{
        outline: none;
        box-shadow: none; 
    }
}

.btn-danger-outline{
    @include danger-outline;
    &:focus{
        outline: none;
        box-shadow: none; 
    }
}

.btn-dark-outline{
    @include dark-outline;
    &:focus{
        outline: none;
        box-shadow: none; 
    }
}

.btn-light-outline{
    @include light-outline;
    &:focus{
        outline: none;
        box-shadow: none; 
    }
}

@each $name, $color in $colors {
    .#{$name}-sliced-top-left {
        background-image: linear-gradient(-45deg, $color 92%, transparent 10%);
        border: 0;
        color: text-dynamic($color);
        border-radius: 0;
        &:hover{
            background-image: linear-gradient(-45deg,darken($color, 10%) 92%, transparent 10%);
            color: #fff;
        }
        &:focus{
            box-shadow: none;
        }
    }
    .#{$name}-sliced-top-right {
        background-image: linear-gradient(45deg, $color 92%, transparent 10%);
        border: 0;
        color: text-dynamic($color);
        border-radius: 0;
        &:hover{
            background-image: linear-gradient(45deg, darken($color, 10%) 92%, transparent 10%);
            color: #fff;
        }
        &:focus{
            box-shadow: none;
        }
    }
    .#{$name}-sliced-bottom-left {
        background-image: linear-gradient(-135deg, $color 92%, transparent 10%);
        border: 0;
        color: text-dynamic($color);
        border-radius: 0;
        &:hover{
            background-image: linear-gradient(-135deg,darken($color, 10%) 92%, transparent 10%);
            color: #fff;
        }
        &:focus{
            box-shadow: none;
        }
    }
    .#{$name}-sliced-bottom-right {
        background-image: linear-gradient(135deg, $color 92%, transparent 10%);
        border: 0;
        color: text-dynamic($color);
        border-radius: 0;
        &:hover{
            background-image: linear-gradient(135deg,darken($color, 10%) 92%, transparent 10%);
            color: #fff;
        }
        &:focus{
            box-shadow: none;
        }
    }
}

// dropdown

#dropBtn::after{
    display: inline-block;
    margin-left: .2rem;
    vertical-align: .2rem;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown{
    display: inline-block;
    width: max-content;
}

.drop-content{
    width: max-content;
    float: left;
    position: absolute;
    max-width: 100vw;
    & ul {
        position: static;
        display: inline-block;
        margin-top: 0.2rem;
        padding: 0.5rem 0;
        margin-bottom: 0;
        border-radius: $border-radius;
        & .list-item{
            padding: 0 1rem;
            & .list-link{
                text-decoration: none;
            }
        }
    }
}

// btn-stack
@mixin stack-prop {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

@mixin stack-btns{
    position: relative;
    flex: 1 1 auto;
}



.btn-stack {
    @include stack-prop();
    & > .btn {
        @include stack-btns();
        &:focus{
            box-shadow: none;
        }
        &:not(:first-child){
            margin-left: -1px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &:not(:last-child):not(.dropdown){
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    & > & .btn:focus{
            box-shadow: none;
    }
    & > &:not(:first-child){
        margin-left: -1px;
    }
    & > &:not(:first-child) > .btn{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    & > &:not(:last-child) > .btn{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    & > &.dropdown{
        #main-drop{
            top: 38px;
        }
    }
}

.btn-stack-y{
    @include stack-prop();
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    & > .btn {
        @include stack-btns();
        width: 100%;
        &:focus{
            box-shadow: none;
        }
        &:not(:first-child){
            margin-top: -1px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        &:not(:last-child):not(.dropdown){
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    & > .btn-stack{
        width: 100%;
        & > .btn{
            :focus{
                box-shadow: none;
            }
        }
        &:not(:first-child){
            margin-top: -1px;
        }
        &:not(:first-child) > .btn{
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        &:not(:last-child) > .btn{
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        &.dropdown{
            #main-drop{
                top: 38px;
            }
        }
    }
}

#main-drop{
    z-index: $dropdown-zindex;
}