@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap');

// Font classes

.font-plex {
    font-family: 'IBM Plex Sans', sans-serif;
}

.font-plex-con {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.font-plex-serif {
    font-family: 'IBM Plex Serif', serif;
}

.font-plex-mono {
    font-family: 'IBM Plex Mono', monospace;
}