// table css

caption {
    padding-top: $pad-1;
    padding-bottom: $pad-1;
    color: $bg-secondary;
    text-align: -webkit-matchparent;
    caption-side: bottom;
}

.table{
    width: $full-width;
    margin-bottom: 1rem;
    color: $bg-dark;
    border-collapse: collapse;

    th{
        text-align: -webkit-match-parent;
    }

    & th, & td{
        padding: $pad-1;
        vertical-align: top;
        border-top: $border-1;
        border-color: inherit;
    }

    & thead th{
        vertical-align: bottom;
        border-bottom: $border-2;
        border-color: inherit;
    }

    & tbody{
        border-top: $border-2;
        border-color: inherit;
        & + tbody {
            border-top: $border-2;
            border-color: inherit;
        }
    }

}

@each $name, $color in $outline-colors {
    .table-#{$name} {
        color: #fff;
        background-color: $color;
    }
}

.table-light, .table-white, .table-transparent{
    color: $bg-dark;
}

.table-warn {
    color: $bg-dark;
}

.table-bordered * {
    border: $border-1;
    border-color: inherit;
}

.table-borderless * {
    border: 0;
}

.table-responsive{
    display: block;
    width: $full-width;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}